<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tpbuilder" translate="label" sortOrder="1000">
            <label>Tapita Pagebuilder Frontend</label>
        </tab>
        <section id="tpbuilder" translate="label" sortOrder="130" showInDefault="1">
            <class>separator-top</class>
            <label>General Settings</label>
            <tab>tpbuilder</tab>
            <resource>Tapita_Tpbuilder::tpbuilder_settings</resource>
            <group id="general" translate="label" type="text" sortOrder="99" showInDefault="1">
                <label>Push Notification and Offline Mode</label>
                <field id="enable" translate="label" type="select" sortOrder="99" showInDefault="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="integration_token" translate="label" type="text" sortOrder="199" showInDefault="1">
                    <label>Tapita Integration Token</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <comment>Go to https://tapita.io/pagebuilder/ to create one. Click save to fetch latest Data.</comment>
                </field>
                <field id="hook_token" translate="label" type="text" sortOrder="299" showInDefault="1">
                    <label>Tapitak Hook Token</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <comment>Token is used to sync by url below. Use it to sync with tapita whenever you want.</comment>
                </field>
                <field id="sync_action" translate="label" sortOrder="699" showInDefault="1">
                    <label>Sync</label>
                    <frontend_model>Tapita\Tpbuilder\Block\System\Config\SyncButton</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>