<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tpbuilder" translate="label" sortOrder="1000">
            <label>Tapita Pagebuilder Frontend</label>
        </tab>
        <section id="tpbuilder" translate="label" sortOrder="130" showInDefault="1">
            <class>separator-top</class>
            <label>General Settings</label>
            <tab>tpbuilder</tab>
            <resource>Tapita_Tpbuilder::tpbuilder_settings</resource>
            <group id="general" translate="label" type="text" sortOrder="99" showInDefault="1">
                <label>Tapita Builder</label>
                <field id="enable" translate="label" type="select" sortOrder="99" showInDefault="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[<a href="https://support.simicart.com/portal/en/kb/articles/tapita-magento-backend-config">Configuration Guide</a>]]></comment>
                </field>
                <field id="override" translate="label" type="select" sortOrder="100" showInDefault="1">
                    <label>Override your URL</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Existed CMS pages with same url path will be <br/><ul>
                        <li><b>Yes</b> - Overridden.</li>
                        <li><b>No</b> - Kept.</li>
                        </ul>]]>
                    </comment>

                </field>
                <field id="integration_token" translate="label" type="text" sortOrder="199" showInDefault="1">
                    <label>Tapita Integration Token</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <comment><![CDATA[Go to <a href="https://tapita.io/pagebuilder/">Tapita</a> to create one. Click save to fetch latest Data.]]></comment>
                </field>
                <field id="hook_token" translate="label" type="text" sortOrder="299" showInDefault="1">
                    <label>Tapitak Hook Token</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <comment>Token is used by hook url below. Use it to sync with tapita whenever you want.</comment>
                </field>
                <field id="sync_action" translate="label" sortOrder="699" showInDefault="1">
                    <label>Sync and Hook</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <frontend_model>Tapita\Tpbuilder\Block\System\Config\SyncButton</frontend_model>
                </field>
            </group>
            <group id="footer_block" translate="label" type="text" sortOrder="99" showInDefault="1" showInStore="1">
                <label>Footer Block</label>
                <field id="enable" translate="label" type="select" sortOrder="99" showInDefault="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable Footer Block would use the block configured below instead of original footer items.</comment>
                </field>
                <field id="block" translate="label" type="select" sortOrder="199" showInDefault="1" showInStore="1">
                    <label>Select Block</label>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                    <source_model>Magento\Cms\Model\Config\Source\Block</source_model>
                </field>
            </group>
            <group id="plain_page" translate="label" type="text" sortOrder="199" showInDefault="1" showInStore="1">
                <label>Default Plain Page</label>
                <field id="default" translate="label" type="select" sortOrder="199" showInDefault="1" showInStore="1">
                    <label>Select Page</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                    <comment>Default Page for url at your_store_url/tpbuilder/plain</comment>
                </field>
            </group>
        </section>
    </system>
</config>